body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: #66BFBF;
    line-height: 2;
}

.p{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBf;
    font-weight: normal;
}
.montain{
    height: auto;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    text-align: center;
    
}
.skills{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
    
h3{
    font-family: 'Montserrat', sans-serif;
    

}

.profile img{
    border-style: solid;
    border-color: #27E1C1;
    border-radius: 50%;
    height: 180px;
    width: 180px;
}

.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
    
}

.skill{
    float: left;
    width: 18%;
    margin-right: 30px;
}

.skill2{
    width: 18%;
    float: right;
    margin-left: 30px;
}


.skill-row2{
    margin-top: auto;
    text-align: right;
    
}

.middle-container{
    
}
.bottom-container social{
    background-color: #D3DEDC;
    display: flex;
    align-items: center;
    
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;

}

.in{
    height: 30px;
    width: 30px;
}

.gm{
    height: 30px;
    width: 30px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
   
}